.player>img {
  position: relative;
}

.items>.hats>img {
  width: 10%;
}

.items>.tops>img {
  width: 10%;
}

.items>.hands>img {
  width: 10%;
}

.items>.shoes>img {
  width: 10%;
}

.items>img {
  width: 10%;
}

.head {
  height: 90px;
  width: 90px;
  margin-top: 10px;
  margin-left: 210px;
  position: absolute;
  border: 2.5px solid;
  color: orange;
  opacity: 0.8;
  background-color: blue;
  z-index: 1000;
}

.upper {
  height: 130px;
  width: 130px;
  margin-left: 180px;
  margin-top: 120px;
  position: absolute;
  border: 2.5px solid;
  z-index: 1000;
  color: orange;
  opacity: 0.8;
  background-color: blue;
}

.leftHand {
  height: 75px;
  width: 75px;
  margin-top: 35px;
  margin-left: 25px;
  position: absolute;
  border: 2.5px solid;
  color: orange;
  opacity: 0.8;
  background-color: blue;
  z-index: 1000;
}

.rightHand {
  height: 75px;
  width: 75px;
  margin-top: 35px;
  margin-left: 410px;
  position: absolute;
  border: 2.5px solid;
  color: orange;
  opacity: 0.8;
  background-color: blue;
  z-index: 1000;
}

.leftFoot {
  height: 75px;
  width: 75px;
  margin-top: 420px;
  margin-left: 70px;
  position: absolute;
  border: 2.5px solid;
  color: orange;
  opacity: 0.8;
  background-color: blue;
  z-index: 1000;
}

.rightFoot {
  height: 75px;
  width: 75px;
  margin-top: 420px;
  margin-left: 350px;
  position: absolute;
  border: 2.5px solid;
  color: orange;
  opacity: 0.8;
  background-color: blue;
  z-index: 1000;
}

.head>img {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
}

.upper>img {
  width: 100%;
  height: 100%;
}

.leftHand>img {
  width: 100%;
  height: 100%;
}

.rightHand>img {
  width: 100%;
  height: 100%;
}

.leftFoot>img {
  width: 100%;
  height: 100%;
}

.rightFoot>img {
  width: 100%;
  height: 100%;
}

.hats {
  border: 2.5px solid;
}

.tops {
  border: 2.5px solid;
}

.hands {
  border: 2.5px solid;
}

.shoes {
  border: 2.5px solid;
}